body {
  background-color: hsl(206, 100%, 90%);
  font-family: "DM Sans";
}

h1 {
  background-color: #98BCE8;
  padding: 3px;
  text-align: center;

}

p, li, h1 {
  color: #0E2038;
  margin: 0% 20%
}

button {
  background-color: #98BCE8;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 7px;
  margin: 7px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#inputBox {
  flex: 1;
  outline: none;
  border: 1px solid rgb(193, 198, 214);
  border-radius: 100px;
  cursor: text;
  padding: 7px;
  margin: 7px;
}

button:active{
  background-color: rgb(193, 198, 214);
  border: 1px solid #98BCE8;
}
.item i{

}

li:nth-child(odd){
  background-color: #c4e3f8;
}

#shoppingList li.bought {
  text-decoration: line-through;
  color: #607796;
}

#shoppingList li {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.left-column, .right-column {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  background-image: url('foodPattern.png');
}

.left-column {
  left: 0;
}

.right-column {
  right: 0;
}


#end {
  position: absolute;
  bottom: 2%;
}
